body {
    font-family: fantasy;
    background-color: #1F2937;
    text-align: center;
}

h1, h2{
    color: #F9FAF8;
    text-decoration: underline;
    font-weight: 900;
}

p, ul, ol {
    color: #F9FAF8;
    text-align: left;
}

body a{
    text-decoration: none;
    color: #F9FAF8;
}